.checkout-section {
    padding: 16px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-section .payments-info-section {
    width: 670px;
    height: 2034px;
}

.checkout-section .billing-info {
    margin-bottom: 64px;
}

.checkout-section .caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-section .title {
    margin-bottom: 32px;
}

.checkout-section .title .caption-default {
    color: var(--color-c1c);
    margin-top: 4px;
}

.checkout-section .info-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout-section .info-input .input-default {
    margin-bottom: 32px;
}

.checkout-section .filter-group {
    width: 243px;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.checkout-section .order-summary-section {
    width: 468px;
    height: 800px;
    border-radius: 12px;
    border: 1px solid var(--color-c1d);
}

.checkout-section .shipping-method-section {
    margin-bottom: 64px;
}

.shipping-method-section .filter-group {
    width: 100%;
    height: 48px;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 16px;
}

.shipping-method-section .filter-group:last-of-type {
    margin-bottom: 0px;
}

.shipping-method-section .filter-group .shipping-option {
    display: flex;
    align-items: center;
}

.shipping-method-section .filter-group .shipping-option .s6-default {
    margin-left: 16px;
}

.shipping-method-section .filter-group .additional-price .s6-default {
    display: inline-block;
    margin-left: 12px;
}

.shipping-method-section .filter-group .additional-price .s6-default:first-of-type {
    color: var(--color-c2a);
    margin-left: 0px;
} 

.checkout-section .payment-method-section {
    margin-bottom: 64px;
}

.checkout-section .payment-method-section .credit-card-option {
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid var(--color-c1d);
    width: 100%;
    height: 240px;
    padding: 16px;
}

.checkout-section .payment-method-section .credit-card-option .credit-card-info{
    display: flex;
    flex-direction: column;
}

.checkout-section .payment-method-section .credit-card-option .input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
}

.checkout-section .payment-method-section .credit-card-option .input .items {
    display: flex;
    align-items: center;
}

.checkout-section .payment-method-section .credit-card-option .input .items .s6-default {
    margin-left: 16px;
}

.checkout-section .payment-method-section .credit-card-option .input .items .credit-card-logo {
    margin-left: 12px;
}

.checkout-section .payment-method-section .credit-card-option .card-number .input-default {
    width: 100%;
    margin-bottom: 32px;
}

.checkout-section .payment-method-section .credit-card-option .card-info-misc {
    display: flex;
    flex-direction: row;
}

.checkout-section .payment-method-section .credit-card-option .card-info-misc .input-default.-medium {
    width: 350px;
}

.checkout-section .payment-method-section .credit-card-option .card-info-misc .input-default.-small {
    width: 120px;
}

.checkout-section .payment-method-section .credit-card-option .card-info-misc .items:last-of-type { 
    margin-right: 0px;
}

.checkout-section .payment-method-section .credit-card-option .card-info-misc .items:first-of-type { 
    margin-right: 30px;
}

.checkout-section .payment-method-section .credit-card-option .card-info-misc .items {
    margin-right: 16px;
}
