.caption-default {
    font-family: var(--font-caption);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
    color: var(--color-c1a);
}

.caption-default.-green {
    color: var(--color-c2a);
}