.checkout-section {
    padding: 16px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-section .payments-info-section {
    width: 670px;
    height: 2034px;
}

.checkout-section .order-summary-section {
    width: 468px;
    height: 800px;
    border-radius: 12px;
    border: 1px solid var(--color-c1d);
}

.checkout-section .info-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout-section .info-input .input-default {
    margin-bottom: 32px;
}

.checkout-section .filter-group {
    width: 243px;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}