.main-action {
    margin-right: 33px;
    text-decoration: none;
    color: var(--color-c1a);
}

.main-action:last-child {
    margin-right: 0;
}

.main-action.-green {
    color: var(--color-c2a);
}