.main-search {
    box-sizing: border-box;
    padding-left: 24px;
    width: 320px;
    height: 100%;
    font-size: 14px;
    font-family: var(--font-caption);
    background-color: var(--color-c1h);
}

.main-search:focus {
    border: 1px solid var(--color-c1d);
    border-radius: 12px;    
}
