.main-section {
    background-color: var(--color-c1i);
    padding: 64px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-section.-second {
    border-bottom: 2px solid var(--color-c1h);
}

.main-section.-third {
    display: flex;
    flex-direction: column;
}

.main-section .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}