.main-post {
    background-image: url(../../assets/img/Image-dark_blog_post.png);
    width: 469px;
    height: 400px;
    padding: 24px;
    border-radius: 12px;
    box-sizing: border-box;
}

.main-post .post-tags {
    margin-bottom: 228px;
}