.main-nav {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: var(--font-caption);
    font-weight: 400;
    font-size: 12px;
    
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    background-color: var(--color-c1i);
}