.main-reviews {
    border: 2px solid var(--color-c1j);
    border-radius: 12px;
    padding: 24px 32px;
    background-color: var(--color-c1i);
    margin-right: 32px; 
    max-height: 198px;   
    box-sizing: border-box;
}

.main-reviews .picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-15%);    
}

.main-reviews:last-of-type {
    margin-right: 0;
}