.main-carousel {
    display: flex;
    flex-direction: column;
} 

.main-carousel .itens {
    overflow:hidden;
}

.main-carousel .elements {
    display: flex;
    height: 228px;
    transform: translateX(-165px);  
}