.n-product-select {
    border-radius: 12px;
    border: 1px solid var(--color-c1d);
    background-color: var(--color-c1h);
    box-sizing: border-box;
    width: 92px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.n-product-select::before {
    content: "";
    height: 20px;
    width: 1px;
    position: absolute;
    background-color: var(--color-c1d);
    top: 5px;
    left: 44px;
}

.n-product-select .input {
    appearance: none;
    width: 30px;
    height: 19px;
    background: transparent;
}

.n-product-select .select{
    appearance: none;
    background: transparent;
    font-family: var(--font-s6);
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: var(--color-c1a);
}