.n-product-select {
    margin-bottom: 0;
    border-radius: 12px;
    border: 1px solid var(--color-c1f);
    background-color: var(--color-c1h);
    box-sizing: border-box;
    width: 111px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 24px;
}

.n-product-select .input {
    appearance: none;
    width: 9px;
    height: 19px;
}

.n-product-select .select{
    appearance: none;
}