.post-description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-description .description {
    font-size: 12px;
    font-family: var(--font-caption);
    color: var(--color-c1i);
    margin-left: 8px;
}


