.price-summary {
    margin-bottom: 40px;
}

.price-summary .main-table {
    width: 100%;
    margin-bottom: 32px;
    height: 78px;
}

.price-summary .main-table .td:nth-child(even) {
    text-align: right;
}

.price-summary .option-background {
    box-sizing: border-box;
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price-summary .option-background .input-default {
    width: 270px;
    padding-left: 0px;
    border: none;
    background: transparent;
}

.price-summary .option-background .button-component-medium {
    padding: 0px;
}