.product-card {
    box-sizing: border-box;
    width: 269px;
    height: 332px;
    border-radius: 12px;
    border: 1px solid var(--color-c1d);
    padding: 16px;
}

.product-card .cardPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 22px;

}

.product-card .cardPrice .price {
    display: flex;
    flex-direction: column;
}

.product-card .main-subtitle {
    margin-bottom: 0;
}

.product-card.-discount::before {
    content: "-36%";
    font-family: var(--font-s6);
    font-size: 12px;
    font-weight: 600;
    background-color: var(--color-c2e);
    color: var(--color-c2a);
    position: absolute;
    height: 18px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    margin-top: 12px;
    margin-left: 12px;
}