.section-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 32px;
    width: 100%;
}

.section-headline.-second {
    margin-bottom: 0px;
}

.section-headline .main-subtitle {
    margin-bottom: 0px;
}

.section-headline .main-button {
    background-color: transparent;
    padding: 0px;
    height: 0px;
    border-radius: 0px;
}