.section-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 32px;
    width: 100%;
}

.section-headline .main-button {
    background-color: transparent;
}