.side-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 369px;
    height: 96px;
}

.side-post .info {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 24px;    
}

.side-post .info .main-subtitle.-second {
    width: 225px;
    box-sizing: border-box;
    margin-bottom: 16px;
}